.signup {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}

.login {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
  margin-left: 10%;
  align-items: center;
}
