.signup {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}

.login {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
  margin-left: 40%;
  margin-top: 10%;
  align-items: center;
}
.index {
  text-align: center;
}

.doctorInfo {
  border: 2px solid black;
}
